.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #7D6C7D;
  color: $c-about-text;
  opacity: 0;
  transition: all .5s ease;
  a {
    color: $c-about-text;
    border-bottom: solid 1px $c-about-text;
    cursor: pointer;
  }
}

.about__text {
  margin: 0 10%;
  font-size: 16pt;
  @media (min-width: $bp-desktop) {
    width: 35vw;
  }
}

.about__credit {
  margin-top: 40px;
  font-size: 12pt;
}

.js-about-show {
  opacity: 1;
  transition: all .5s ease;
}
