.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #7D6C7D;
  color: $c-about-text;
  opacity: 0;
  transition: all .5s ease;
  a {
    color: $c-about-text;
    border-bottom: solid 1px $c-about-text;
    cursor: pointer;
  }
}

.about__text {
  font-family: $f-noto;
  font-size: 14pt;
  width: 75vw;
  @media (min-width: $bp-laptop) {
    font-size: 16pt;
    width: 35vw;
  }
}

.about__credit {
  margin-top: 40px;
  font-size: 10pt;
}

.js-about-show {
  opacity: 1;
  transition: all .5s ease;
}
