.backgrounds__container {
  display: none;
  @media (min-width: $bp-desktop) {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
}

.restaurant__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.rest__lights {
  width: 100%;
  height: auto;
  transform: translateX(-100%);
  transition: transform .75s ease;
}

.rest__wall {
  width: 100%;
  transform: translateX(100%);
  height: auto;
  transition: transform .75s ease;
}

.park__container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100vw;
}

.fog__container {
  width: 100vw;
  height: 90vh;
}

.park__fog--left {
  left: 0;
  transform: translateX(-100%);
  transition: all .3s ease;
  margin-top: 20px;
}

.park__fog--right {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: all .3s ease;
}

.lampost__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.lampost__left--container {
  padding: 0 75px;
  transform: translateX(-100%);
  transition: all .3s ease;
}

.lampost__right--container {
  display: flex;
  align-items: flex-end;
  padding: 0 100px;
  transform: translateX(100%);
  transition: all .3s ease;
}

.park__lampost--left {
  height: 200px;
}

.park__lampost--middle {
  height: 225px;
}

.park__lampost--right {
  height: 185px;
}

.cloud__container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  & > * {
    position: absolute;
  }
}

.cloud-top-left {
  transform: translateX(-100%);
  transition: all .3s ease;
}

.cloud-top-right {
  right: 0;
  transform: translateX(100%);
  transition: all .3s ease;
}

.cloud-mid-left {
  left: 0;
  top: 50vh;
  transform: translateX(-100%);
  transition: all .3s ease;
}

.cloud-mid-right {
  right: 0;
  top: 50vh;
  padding-right: 10%;
  transform: translateX(100%);
  transition: all .3s ease;
}

.cloud-bottom-left {
  bottom: 0;
  transform: translateX(-100%);
  transition: all .3s ease;
}

.cloud-bottom-right {
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  transition: all .3s ease;
}

.cloud-sidewalk {
  width: 100vw;
  bottom: 0;
  transform: translateX(-100%);
  transition: all .3s ease;
}

.howl__container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  top: 0;
}

.howl-light-left {
  transform: translateX(-150%);
  transition: all .3s ease;
}

.howl-disco {
  height: 150px;
  transform: translateY(-100%);
  transition: all .3s ease;
}

.howl-light-right {
  transform: translateX(150%);
  transition: all .3s ease;
}

.sun__container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  & > * {
    position: absolute;
  }
}

.sun-cloud-left {
  margin-top: 100px;
  transform: translateX(-100%);
  transition: all .3s ease;
}

.sun-cloud-right {
  right: 0;
  margin-top: 20px;
  transform: translateX(100%);
  transition: all .3s ease;
}

.sun-cloud-bottom {
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  transition: all .3s ease;
}

.js-show {
  transform: translateX(0);
  transition: transform .75s ease;
}
