.backgrounds__container {
  display: none;
  @media (min-width: $bp-laptop) {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
  }
}

.restaurant__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  & > * {
    position: absolute;
  }
}

.rest__lantern {
  width: 175px;
  height: auto;
  transition: transform .75s $ease-out-quint;
  &--left {
    left: 10%;
    top: 0;
    transform: translateX(-200%);
  }
  &--right {
    right: 10%;
    top :0;
    transform: translateX(200%);
  }
}

.rest__table {
  bottom: 0;
  width: 500px;
  height: auto;
  &--left {
    left: 5vw;
    transform: translateX(-200%);
  }
  &--right {
    right: 5vw;
    transform: translateX(200%);
  }
}


.rest__wall {
  width: 100%;
  bottom: 0;
  transform: translateX(100%);
  height: auto;
  transition: transform .75s $ease-out-quint;
}

.park__container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100vw;
}

.fog__container {
  width: 100vw;
  height: 90vh;
}

.park__fog--left {
  left: 0;
  transform: translateX(-100%);
  transition: all .3s $ease-out-quint;
  margin-top: 20px;
  opacity: .5;
}

.park__fog--right {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: all .3s $ease-out-quint;
  opacity: .55;
}

.lampost__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.lampost__left--container {
  padding: 0 75px;
  transform: translateX(-100%);
  transition: all .3s $ease-out-quint;
}

.lampost__right--container {
  display: flex;
  align-items: flex-end;
  padding: 0 100px;
  transform: translateX(100%);
  transition: all .3s $ease-out-quint;
}

.park__lampost--left {
  height: 200px;
}

.park__lampost--middle {
  height: 225px;
}

.park__lampost--right {
  height: 185px;
}

.cloud__container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  & > * {
    position: absolute;
  }
}

.cloud-top-left {
  top: 50px;
  transform: translateX(-100%);
  transition: all .3s $ease-out-quint;
}

.cloud-top-right {
  top: 20px;
  right: 75px;
  transform: translateX(200%);
  transition: all .3s $ease-out-quint;
}

.cloud-mid-left {
  left: -200px;
  top: 50vh;
  transform: translateX(-100%);
  transition: all .3s $ease-out-quint;
}

.cloud-mid-right {
  right: -200px;
  top: 30vh;
  transform: translateX(100%);
  transition: all .3s $ease-out-quint;
}

.cloud-bottom-right {
  bottom: 75px;
  right: 150px;
  transform: translateX(200%);
  transition: all .3s $ease-out-quint;
}

.cloud-sidewalk {
  width: 100vw;
  bottom: 0;
  transform: translateX(-100%);
  transition: all .3s $ease-out-quint;
}

.howl__container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  top: 0;
}

.howl-light-left {
  transform: translateX(-150%);
  transition: all .3s $ease-out-quint;
}

.howl-disco {
  height: 150px;
  transform: translateY(-100%);
  transition: all .3s $ease-out-quint;
}

.howl-light-right {
  transform: translateX(150%);
  transition: all .3s $ease-out-quint;
}

.sun__container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  & > * {
    position: absolute;
  }
}

.sun-cloud-left {
  margin-top: 100px;
  transform: translateX(-100%);
  transition: all .3s $ease-out-quint;
}

.sun-cloud-right {
  right: 0;
  margin-top: 20px;
  transform: translateX(100%);
  transition: all .3s $ease-out-quint;
}

.sun-cloud-bottom {
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  transition: all .3s $ease-out-quint;
}

.js-show {
  transform: translateX(0);
  transition: transform .75s $ease-out-quint;
}
