.drafts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  padding: 65px 20px;
  height: 100vh;
}

.draft__img {
  width: 50%;
  height: auto;
  cursor: pointer;
}

.email1 {
  display: none;
  opacity: 0;
  transform: translateY(10);
  transition: all .3s ease;
}
