.drafts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  padding: 65px 20px;
  height: 100vh;
  transform: translateX(0);
  transition: transform .3s ease;
}

.hide-drafts {
  transform: translateX(-100vw);
}

.draft__img {
  width: 50%;
  height: auto;
  cursor: pointer;
}

.email1 {
  display: block;
  opacity: 1;
  transform: translateY(0);
  transition: all .3s ease;
}

.hide {
  display: none;
  opacity: 0;
  transform: translateY(10);
}
