
.email__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 53vw;
  height: 65vh;
  background-color: $c-white;
  border-radius: 6px;
  box-shadow: 0 2px 24px $c-background--shadow;
}


/////////////////BROWSER BAR

.browser-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 5%;
  border-radius: 6px 6px 0 0;
  background-color: $c-browser-bar;
}

.circle {
  margin: 4px;
  width: 2%;
  height: 80%;
  border-radius: 100px;
  &:first-child {
    margin-left: 14px
  }
}

.red {
  background-color: $c-close--red;
}

.yellow {
  background-color: $c-min--yellow;
}

.green {
  background-color: $c-exp--green;
}


/////////////////CONTROL BAR


.email-content__container {
  width: 50%;
  height: 55%;
}

.controls__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 25%;
  background-color:$c-control-bar;
}

/////BUTTONS
.controls__button--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 28%;
  padding-right: 10px;
}

.controls__button {
  width: 90px;
  height: 60%;
  background-color: $c-buttons;
  border-radius: 7px;
  border: none;
  box-shadow: 0 2px 7px 0 $c-buttons--shadow;
  color: $c-white;
  font-size: 10pt;
  font-weight: $fw-bold;

  &:first-child {
    margin-left: 0;
  }
}

.draft {
  cursor: pointer;
}

.button__hover-msg {
  position: fixed;
  padding: 5px 10px;
  background-color: $c-white;
  color: $c-buttons;
  box-shadow: 0 2px 5px $c-black;
  font-size: 10pt;
}

.js-hide {
  display: none;
}

/////INPUTS
.controls__input--container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px 0;
}

.controls__input {
  background-color: $c-white;
  padding: 10px;
  border-radius: 5px;
  border: solid .5px $c-input;
}

.controls__input--text {
  font-size: 10pt;
}


/////////////////TEXT

.email-text__container {
  height: 89%;
  overflow: scroll;
  margin: 20px 0;
  padding: 0 5%;
}
