.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  align-self: flex-end;
  padding: 15px 40px;
  font-size: 10pt;
  color: $c-purple-text;
  z-index: 100000;
}

.credit {
  color: #807380;
  &.js-white {
    color: $c-white;
  }
}

.about {
  cursor: pointer;
  &.js-white {
    color: $c-white;
    border-bottom: 1px solid $c-white;
  }
}
