.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  align-self: flex-end;
  padding: 15px 40px;
  font-size: 10pt;
  color: $c-purple-text;
  z-index: 100000;
  @media (min-width: $bp-tablet-vert) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.about {
  width: fit-content;
  cursor: pointer;
  &.js-white {
    color: $c-white;
    border-bottom: 1px solid $c-white;
  }
  &.js-about-color {
    color: $c-about-text;
    border-bottom: 1px solid $c-about-text;
  }
}

.credit {
  margin-top: 15px;
  color: #807380;
  @media (min-width: $bp-tablet-vert) {
    margin-top: 0;
  }
  &.js-white {
    color: $c-white;
  }
  &.js-about-color {
    color: $c-about-text;
  }
}
