.lander__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 10%;
  max-width: 100%;
  height: 100vh;
  transition: all .3s ease;
  z-index: 10000;
  @media (min-width: $bp-laptop) {
    width: 65%;
    align-self: flex-start;
  }
}

.new-email-button {
  display: none;
  @media (min-width: $bp-laptop) {
    display: block;
    padding: 15px 40px;
    width: 165px;
    background-color: $c-buttons;
    border-radius: 5px;
    color: $c-white;
    font-weight: 700;
    font-size: 10pt;
    transition: all .3s $ease-in-out-quad;
    cursor: pointer;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 12px #CAC2D1;
  }
}

.lander__disclaimer {
  color: $c-purple-text;
  @media (min-width: $bp-laptop) {
    display: none;
  }
}

.lander__arrow {
  margin: 50px 0 0 0;
  height: 60px;
  width: 26px;
  align-self: center;
  @media (min-width: $bp-laptop) {
    display: none;
  }
}

.js-hide-lander {
  display: none;
}
