.mobile__email--container {
  padding: 0 10%;
  @media (min-width: $bp-desktop) {
    display: none;
  }
}

.mobile__email {
  margin: 100px 0;
  &:first-child {
    margin: 0;
  }
}

.mobile__email--text {
  color: $c-purple-text;
  font-size: 12pt;
}
